﻿@model object

@{
    ViewData["Title"] = "Calculate";
}

<h2>Подсчет</h2>

<p>
    <form asp-action="Calculate">
        <div class="form-group">
            <input type="submit" value="Посчитать" class="btn btn-default"/>
        </div>
        <a asp-action="Index">Back to Index</a>
    </form>
</p>