﻿@model object

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <form asp-action="Index">
        <a asp-action="YtUnloading">Выгрузить данные из YT</a>
        <br>
        <a asp-action="Calculate">Посчитать зарплаты</a>
        <br>
        <a asp-action="Payroll">Выплатить зарплаты</a>
    </form>
</p>