﻿@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Выплата</h2>

<p>
    <form asp-action="Payroll">
        <div class="form-group">
            <input type="submit" value="Выплатить" class="btn btn-default"/>
        </div>
        <a asp-action="Index">Back to Index</a>
    </form>
</p>