﻿@model object

@{
    ViewData["Title"] = "YtUnloading";
}

<h2>Выгрузка</h2>

<p>
    <form asp-action="YtUnloading">
        <div class="form-group">
            <input type="submit" value="Выгрузить" class="btn btn-default"/>
        </div>
        <a asp-action="Index">Back to Index</a>
    </form>
</p>