﻿@using Api2.Entities
@model Api2.Entities.BankAccount

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <input asp-for="Bank" class="form-control" />
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BIC" class="control-label"></label>
                <input asp-for="BIC" class="form-control" />
                <span asp-validation-for="BIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondentAccount" class="control-label"></label>
                <input asp-for="CorrespondentAccount" class="form-control" />
                <span asp-validation-for="CorrespondentAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
