﻿@using Api2.Entities
@model Api2.Entities.IndividualContract

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>IndividualContract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndividualId" class="control-label"></label>
                <input asp-for="IndividualId" class="form-control" />
                <span asp-validation-for="IndividualId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivationDate" class="control-label"></label>
                <input asp-for="ActivationDate" class="form-control" />
                <span asp-validation-for="ActivationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label"></label>
                <input asp-for="BankAccountId" class="form-control" />
                <span asp-validation-for="BankAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payroll" class="control-label"></label>
                <input asp-for="Payroll" class="form-control" />
                <span asp-validation-for="Payroll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
