﻿@using Api2.Entities
@model Api2.Entities.Company

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEO.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
