﻿@using Api2.Entities
@model Api2.Entities.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEO.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
