﻿@using Api2.Entities
@model Api2.Entities.Company

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BIN" class="control-label"></label>
                <input asp-for="BIN" class="form-control" />
                <span asp-validation-for="BIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIN" class="control-label"></label>
                <input asp-for="TIN" class="form-control" />
                <span asp-validation-for="TIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPR" class="control-label"></label>
                <input asp-for="CPR" class="form-control" />
                <span asp-validation-for="CPR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEOId" class="control-label"></label>
                <select asp-for="CEOId" class="form-control" asp-items="ViewBag.CEOId"></select>
                <span asp-validation-for="CEOId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
